doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title!= directory
        //- Include jQuery... version should be irrelevant actually
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        //- Simple jQuery to make sure clicking on an entry actually opens/downloads the path
        script(type='text/javascript').
            $(document).ready(function() { $('tr[data-href]').on("click", function() { document.location = $(this).data('href'); }); });
        //- Include the Hack font css
        link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/font-hack/2.018/css/hack-extended.min.css')
        //- Include the basic style
        style
            include ../css/index.css
    body
        table
            tbody
                tr
                    th Name
                    th Size
                    th Date
                //- Static generation of the "go one up" entry... this is (in my opinion) nicer than adding it as a file
                tr(class='file', data-href=up)
                    td ..
                    td -
                    td -
                //- Iterate through all files to generate our table entries
                each file, index in files
                    tr(class='file', data-href=file.url)
                        if file.isDirectory
                            td!= file.name+'/'
                            td -
                        else
                            td!= file.name
                            td!= file.size
                        td!= file.date
